<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "system/css/styles.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "system/css/bootstrap.min.css" %}" >
<link rel="stylesheet" type="text/css" href="{% static "system/css/bootstrap.css" %}" >
<link rel="stylesheet" href=" {% static "system/css/footer.css"%} ">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<style>
hr{
  height: 5px;
  width: 900px;
}
.cont{
  padding: 20px;
}
.back{
  padding: 20px;
  padding-top: 70px;
  /* background-image: url('{% static "system/1pp.jpg" %}'); */
  background-repeat: no-repeat;
  background-size: cover;
}

</style>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #3700B3;">
  <a class="navbar-brand" href="{%url 'system:index' %}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'system:index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'system:icreate' %}" role="button">New Invoice</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Quotations</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
        <div class="sidebar-sticky" style="padding-top:42%; color:white;">
          <ul class="nav flex-column" id = "list">
            <li class="nav-item">
              <a  class="white"id="5"class="nav-link btn-lg " href="{% url 'system:index' %}" >
                <span data-feather="home"></span>
                Dashboard <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item btn-lg ">
              <a class="nav-link" href="#">
                <span data-feather="file"></span>
                Invoices
              </a>
            </li>
            <li class="nav-item btn-lg ">
              <a class="white" class=" nav-link " href="{% url 'system:quotations' %}">
                <span data-feather="shopping-cart"></span>
                Quotations
              </a>
            </li>
            <li class="nav-item btn-lg ">
              <a class="white" class="nav-link" href="{% url 'system:deliveries' %}">
                <span data-feather="users"></span>
                D Notes
              </a>
            </li>
            <li class="nav-item btn-lg ">
              <a class="white" class="nav-link" href="#">
                <span data-feather="bar-chart-2"></span>
                Reports
              </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="layers"></span>
                Integrations
              </a>
            </li> -->
          </ul>


        </div>
      </nav>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

    <center><h2 style="padding-top:8%;">INVOICES<br><br></h2></center>
    <!-- <form style="margin-left:20%;" method ="post"  id="create">
      {%csrf_token%}
      <div class="form-group col-md-6">
        ORDER NUMBER:&nbsp; &nbsp; &nbsp;
        <input type="text" name="order" placeholder="Name" ><br><br>
        VAT NUMBER:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="vat_number" placeholder="Name" ><br><br>
        VAT:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="number" name="vat" placeholder="0.0" ><br><br>
          <button type="submit" id="submit" class="btn btn-primary" >Create</button>
        </div>
    </form> -->
      <table class="table table-responsive-xl  table-hover  ">
        <thead>
          <tr style="background-color:#3F4093;"class="p">
            <th class= "table-bordered"scope="col-1" style="color: white;">Invoice Number</th>
            <th class= "table-bordered"scope="col-1" style="color: white;">Company</th>
            <th class= "table-bordered"scope="col" style="color: white;" >Issued by</th>
            <th class= "header table-bordered "scope="col" style="color: white;">Date issued</th>
            <th class= "header table-bordered "scope="col" style="color: white;">Total</th>
            <th class= "header table-bordered "scope="col" style="color: white;">Options</th>
          </tr>
        </thead>
        <tbody>
          {% load django_template_maths %}
          {% if invoice_list %}
          {% for q in invoice_list%}

            {% with total=q.total %}
              <tr>

                <td class= "table-bordered"><a href="{% url 'system:idetail' q.id%}" class="list-group-item list-group-item-action"> {{q.number}}</a>
                <td class= "table-bordered">
                  {% for c in q.icustomer_set.all%}
                  <a href="{% url 'system:idetail' q.id%}" class="list-group-item list-group-item-action"> {{c.c_name}}</a>
                  {% endfor %}
                </td>

                <td class="data table-bordered"><a href="{% url 'system:idetail' q.id%}" class="list-group-item list-group-item-action"> {{q.user_name}}</a></td>
                <td class="data table-bordered"><a href="{% url 'system:idetail' q.id%}" class="list-group-item list-group-item-action"> {{q.date_created|date:"d"}}/{{q.date_created|date:"m"}}/{{q.date_created|date:"Y"}}</a></td>
                <td class="data table-bordered"><a href="{% url 'system:idetail' q.id%}" class="list-group-item list-group-item-action"> {{q.total}}</a></td>

                <td  class=" table-bordered" style="align:center">
                  {% if q.total <= 0 %}
                  <a href="{% url 'system:add_details' q.id%}" class=" btn btn-primary float-sm-left" style="text-align:center; margin-right:10px;">Edit</a>
                  {% else %}
                  <a class="  btn  disabled" href="#"style="color:#000000;text-align:center">Issued</a>
                  {%endif%}
                </td>

              </tr>
              {% endwith %}
          {% endfor %}
          {% else %}
          {% endif %}
        </tbody>

      </table>

    </main>
  </div>
</div>


<script src="{% static "system/js/plugin.js" %}"></script>
<script src="{% static "system/js/jquery.min.js"%}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(document).on('submit','#create',function(e){
    $.ajax({
      type:'POST',
      url: '{%url 'system:i_create' %}',
      data:{
        order_number:$('order').val(),
        vat_number:$('vat_number').val(),
        vat:$('vat').val(),
      },
      success:function(){
        alert("Invoice created")
      }
    });
  });
</script>
