<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Grasp Chemicals</title>

    <link rel="canonical" href="index.html">

    <!-- Bootstrap core CSS -->

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "system/css/styles.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "system/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "system/css/bootstrap.css" %}" >
    <link href="{%static "dist/css/bootstrap.min.css"%}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "system/css/dashboard.css" %}">
    <link rel="stylesheet" href=" {% static "system/css/footer.css"%} ">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0" style="background-color: #3F4093;">
      <a class="navbar-brand col-sm-2 col-md-2 mr-0" href="#">Grasp Chemicals</a>

      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{% url 'admin:logout' %}">Sign out</a>
          {% if has_permission %}
          {% endif%}
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
          <div class="sidebar-sticky" style="padding-top:12%;">
            <ul class="nav flex-column" id = "list">
              <li class="nav-item">
                <a class=""; class="nav-link btn-lg " href="#" >
                  <span data-feather="home"></span>
                   <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item btn-lg ">
                <a class="white"; class="nav-link" href="{% url 'system:invoices' %}">
                  <span data-feather="file"></span>
                  Invoices
                </a>
              </li>
              <li class="nav-item btn-lg ">
                <a class="white"; id="5"class="nav-link" href="{% url 'system:invoices' %}">
                  <span data-feather="shopping-cart"></span>
                  Quotations
                </a>
              </li>
              <li class="nav-item btn-lg ">
                <a class="white"; id="5"class="nav-link" href="#">
                  <span data-feather="users"></span>
                  D Notes
                </a>
              </li>
              <li class="nav-item btn-lg ">
                <a class="white"; id="5"class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Reports
                </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="layers"></span>
                  Integrations
                </a>
              </li> -->
            </ul>

          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2"></h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <a href="#" class="btn btn-sm btn-outline-secondary">View Tutorial</a>

              </div>
            </div>
          </div>


          <h2>Recently Issued Invoices</h2>
          <p class="p">The table below shows five recently created invoices. To see more or create a new one please click the button below ......</p>
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'system:invoices' %}">{{' Invoices'}}</a>

              </div>
            </div>
          </div>
            <table class="table  table-hover  ">
              <thead>
                <tr style="background-color:#3F4093; border-radius:10px;"class="p">
                  <th class= "table-bordered"scope="col-1" style="color: white;">Invoice Number</th>
                  <th class= "table-bordered"scope="col-1" style="color: white;">Company</th>
                  <th class= "table-bordered"scope="col" style="color: white;padding-left:0.5%;" >Issued by</th>
                  <th class= "header table-bordered "scope="col" style="color: white;">Date issued</th>
                  <th class= "header table-bordered "scope="col" style="color: white;">Total</th>
                  <th class= "header table-bordered "scope="col" style="color: white;">Options</th>
                </tr>
              </thead>
              <tbody>
                {% load django_template_maths %}
                {% if invoice_list %}
                {% for q in invoice_list%}

                  {% with total=q.total %}
                    <tr>

                      <td class= "table-bordered"><a href="{% url 'system:idetail' q.id%}" class="list-group-item list-group-item-action"> {{q.number}}</a>
                      <td class= "table-bordered">
                        {% for c in q.icustomer_set.all%}
                        <a href="{% url 'system:idetail' q.id%}" class="list-group-item list-group-item-action"> {{c.c_name}}</a>
                        {% endfor %}
                      </td>

                      <td class="data table-bordered"><a href="{% url 'system:idetail' q.id%}" class="list-group-item list-group-item-action"> {{q.user_name}}</a></td>
                      <td class="data table-bordered"><a href="{% url 'system:idetail' q.id%}" class="list-group-item list-group-item-action"> {{q.date_created|date:"d"}}/{{q.date_created|date:"m"}}/{{q.date_created|date:"Y"}}</a></td>
                      <td class="data table-bordered"><a href="{% url 'system:idetail' q.id%}" class="list-group-item list-group-item-action"> {{q.total}}</a></td>

                      <td  class=" table-bordered" style="align:center">
                        {% if q.total <= 0 %}
                        <a href="{% url 'system:add_details' q.id%}" class=" btn btn-primary float-sm-left" style="text-align:center; margin-right:10px;">Edit</a>
                        {% else %}
                        <a class="  btn  disabled" href="#"style="color:#000000;text-align:center">Issued</a>
                        {%endif%}
                      </td>

                    </tr>
                    {% endwith %}
                {% endfor %}
                {% else %}

                {% endif %}
              </tbody>

            </table>
            <br><br>
            <h2>Recently Issued Quotations</h2>
            <p class="p">The table below shows five recently created quotations. To see more or create a new one please click the button below ......</p>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

              <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                  <a class="btn btn-sm btn-outline-secondary" href="{% url 'system:quotations' %}"> Quotations</a>

                </div>
              </div>
            </div>
            <table class="table  table-hover  ">
              <thead>
                <tr style="background-color:#3F4093;"class="p">
                  <th class= "table-bordered"scope="col-1" style="color: white;">Date Issued</th>
                  <th class= "table-bordered"scope="col-1" style="color: white;">Company</th>
                  <th class= "table-bordered"scope="col" style="color: white;padding-left:5%;" >Issued by</th>
                  <th class= "header table-bordered "scope="col" style="color: white;">Total</th>
                  <th class= "header table-bordered "scope="col" style="color: white;">Options</th>
                </tr>
              </thead>
              <tbody>
                {% load django_template_maths %}
                {% if quotation_list %}
                {% for q in quotation_list%}

                  {% with total=q.total %}
                    <tr>

                      <td class= "table-bordered"><a href="{% url 'system:qdetail' q.id%}" class="list-group-item list-group-item-action"> {{q.date_created|date:"d"}}/{{q.date_created|date:"m"}}/{{q.date_created|date:"Y"}}</a>
                      <td class= "table-bordered">
                        <a href="{% url 'system:qdetail' q.id%}" class="list-group-item list-group-item-action"> {{q.customer}}</a>
                      </td>

                      <td class="data table-bordered"><a href="{% url 'system:qdetail' q.id%}" class="list-group-item list-group-item-action"> {{q.user_name}}</a></td>
                      <td class="data table-bordered"><a href="{% url 'system:qdetail' q.id%}" class="list-group-item list-group-item-action"> {{q.total}}</a></td>

                      <td  class=" table-bordered" style="align:center">
                        {% if q.total <= 0 %}
                        <a href="{% url 'system:qpreview' q.id%}" class=" btn btn-primary float-sm-left" style="text-align:center; margin-right:10px;">Edit</a>
                        {% else %}
                        <a class="  btn  disabled" href="#"style="color:#000000;text-align:center">Issued</a>
                        {%endif%}
                      </td>

                    </tr>
                    {% endwith %}
                {% endfor %}
                {% else %}
                <p>There are no Quotations issued yet!</p>
                {% endif %}
              </tbody>

            </table>
              <br><br>
        </main>
      </div>
    </div>
    <!-- <footer>-->
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About the developer</h5>
                    <ul>
                        <li><a href="www.simpledeveloper.cf">Website</a></li>
                        <li><a href="emillio@simpledeveloper.cf">Contact us</a></li>
                        <!-- <li><a href="#">Reviews</a></li> -->
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Copyright </h5>
                    <ul>
                        <p> You may not redistribute this system without the developer's approval </p>
                    </ul>
                </div>
                <div class="col-sm-3 info">
                    <h5>Information</h5>
                    <p> This system was developed with room for improvement! Your ideas can help us add more features. Some features like adding or deleting products are still to be added. </p>
                </div>
            </div>
        </div>
        <div class="second-bar">
           <div class="container">
                <h2 class="logo"><a href="#"> LOGO </a></h2>
                <div class="social-icons">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "system/js/plugin.js" %}"></script>

    <script>

      var items =document.querySelectorAll("#list li a"),

      tab=[],liIndex;

      for(var i=0;i<items.length;i++){
        // tab.push(items[i].id);
      }

      for(var w=0;w<items.length;w++){

          console.log(items[w].id);

        items[w].onclick = function(){

        };

      }


    </script>
  </body>

</html>
